@import "tailwindcss";
@import "./tokens.css";

@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/nunito";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #7DD3FC;
  --color-primary-hover: #38BDF8;
  --color-primary-light: #F0F9FF;
  --color-bg-base: #FFFAFA;
  --color-surface: #FFFFFF;
  --color-border: #F1F5F9;

  --color-status-normal: #6EE7B7;
  --color-status-warning: #FDE047;
  --color-status-critical: #FDA4AF;

  --color-text-main: #334155;
  --color-text-muted: #94A3B8;
}

@layer base {
  :root {
    --bg-color: var(--color-bg-base);
    --text-color: var(--color-text-main);
  }

  .dark {
    --color-bg-base: #0F172A;
    --color-surface: #1E293B;
    --color-border: #334155;
    --color-text-main: #F8FAFC;
    --color-text-muted: #94A3B8;
    --color-primary-light: #0369A1;
    --color-primary: #38BDF8;

    --bg-color: var(--color-bg-base);
    --text-color: var(--color-text-main);
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Nunito Variable', 'Nunito', -apple-system, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Nunito Variable', sans-serif;
}