/* styles/tokens.css */
@theme inline {
  --color-primary: #7DD3FC;
  --color-primary-hover: #38BDF8;
  --color-primary-light: #F0F9FF;
  --color-bg-base: #FFFAFA;
  --color-surface: #FFFFFF;
  --color-border: #F1F5F9;
  
  --color-status-normal: #6EE7B7;
  --color-status-warning: #FDE047;
  --color-status-critical: #FDA4AF;
  
  --color-text-main: #334155;
  --color-text-muted: #94A3B8;

  /* shadcn/ui bridge variables */
  --color-background: var(--color-bg-base);
  --color-foreground: var(--color-text-main);
  --color-card: var(--color-surface);
  --color-card-foreground: var(--color-text-main);
  --color-popover: var(--color-surface);
  --color-popover-foreground: var(--color-text-main);
  --color-primary-foreground: #0C4A6E;
  --color-secondary: var(--color-primary-light);
  --color-secondary-foreground: var(--color-primary-hover);
  --color-muted: var(--color-border);
  --color-muted-foreground: var(--color-text-muted);
  --color-accent: #F8FAFC;
  --color-accent-foreground: var(--color-text-main);
  --color-destructive: var(--color-status-critical);
  --color-destructive-foreground: #7F1D1D;
  --color-ring: var(--color-primary);
  --radius-xl: calc(var(--radius) + 8px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 8px);

  --shadow-alert: 0 4px 20px -2px rgba(253, 164, 175, 0.4);
  --shadow-warning: 0 4px 20px -2px rgba(253, 224, 71, 0.4);
}

:root {
  --radius: 1rem;
}

.dark {
  --color-bg-base: #0F172A;
  --color-surface: #1E293B;
  --color-border: #334155;
  --color-text-main: #F8FAFC;
  --color-text-muted: #94A3B8;
  --color-primary-light: #0369A1;
  --color-primary: #38BDF8;

  --color-background: var(--color-bg-base);
  --color-foreground: var(--color-text-main);
  --color-card: var(--color-surface);
  --color-card-foreground: var(--color-text-main);
  --color-popover: var(--color-surface);
  --color-popover-foreground: var(--color-text-main);
  --color-muted: var(--color-border);
  --color-muted-foreground: var(--color-text-muted);
  --color-accent: var(--color-border);
  --color-accent-foreground: var(--color-text-main);
  --color-ring: var(--color-primary);
}
